.admin-cadavers {
  padding: 2rem;
}

.admin-cadavers__info,
.admin-cadavers__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.admin-cadavers__info {
  margin-bottom: 2rem;
}

.admin-cadavers__item {
  padding: 0.75rem;
  border-radius: 0.375rem;
  background: var(--light-green-1);
  box-shadow: var(--box-shadow);
  width: 100%;
}
.admin-cadavers__item-content {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid rgba(40, 41, 45, 0.8);
}

.admin-cadavers__cadaver-title {
  font: bold var(--font-20px-1_25rem, 1.125rem) "Bodoni Moda", sans-serif;
}

.admin-cadavers__svg {
  width: 3rem;
  height: 3rem;
}

.admin-cadavers__svg path {
  fill: var(--black-1);
}

.admin-cadavers__cadaver-period {
  margin-top: 0.75rem;
}
