.footer {
  /* position: fixed;
  bottom: 0; */
  z-index: 950;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 1.5rem 1.5rem 0 0;
  box-shadow: 0px -2px 8px 0px rgba(99, 99, 99, 0.2);
  border-top: 1px solid var(--light-gray);
  background: var(--white);
}

.footer__list {
  display: flex;
  /* gap: 6rem; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  align-items: center;
}

.footer__item {
  flex: 1 1 33.33%;
}

.footer__item svg {
  fill: var(--black-1);
}

.footer__item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.8rem;
}

.footer__item span {
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  display: none;
}

.footer__item.current a {
  border-radius: 0.5rem;
  background-color: var(--light-green-2);
}

.footer__item.current a path {
  fill: var(--dark-green);
}

.footer__item.current span {
  color: var(--dark-green);
  display: block;
}
